{% extends 'admin/admin_base.html.twig' %}

{% block metaTitle %}
    {{ categorie.title }}
{% endblock metaTitle %}

    {% block header %}
        <div class="flex">
            <a href="http://127.0.0.1:8000/categories" class="logo"><img src={{ asset('media/logo.png')}} alt="" class="resp"></a>
        </div>
    {% endblock %}

    {% block main %}
        <main>
            <article>
                <h1 class="text-deco">{{ categorie.title }}</h1>
                <p>{{ categorie.description }}</p>

                {% for article in categorie.articles %}
                <p>{{ article.title }}</p>
                {% endfor %}
            </article>
        </main>
    {% endblock main %}

    {% block text %}
        <footer class="footer">

        </footer>
    {% endblock %}
