{% extends 'admin/admin_base.html.twig' %}
{% block metaTitle %}
    Articles
{% endblock metaTitle %}
{% block header %}
    <div class="flex">
        <a href="http://127.0.0.1:8000/articles" class="logo"><img src={{ asset('media/logo.png')}} alt="" class="resp"></a>
    </div>

{% endblock %}
{% block main %}
    <main>
        <!-- j'utilise un filtre de twig afin de faire apparaitre le nombre d'articles dans mon tableau   -->
        <h1 class="text-deco">Il y'a {{ articles | length }} articles dans la base de données</h1>
        <div class="articleMain space-between">
            {% for article in articles %}
                <!-- je test si 'published' de chaque article vaut ->true, j'affiche... -->

                    <article>
                        <a href="{{ path('admin_article_List',{id:article.id}) }}">
                            <h1 class="text-deco">{{ article.title }}</h1>
                        </a>
                        <div class="articleContent ">
                            <p>{{ article.content }}</p>
                            <h1 class="text-center"><p>La valeur de l'id est: {{ article.id }}</p></h1>
                        </div>
                        <a href="{{ path('admin_article_update', {'id': article.id }) }}" class="text-deco mb-5">Mettre à jour</a><br>
                        <a href="{{ path('admin_article_Delete', {'id': article.id }) }}" class="text-deco">Supprimer</a>
                    </article>

            {% endfor %}
        </div>

    </main>
{% endblock %}

