{% extends 'admin/admin_base.html.twig' %}

{% block main %}

<section class="container bg-secondary ">
    <h1 class="mb-5">
        Création d'un nouvel Article
    </h1>
    {#    1ère façon:#}
    {# équivalent de la balise d'ouverture du form  #}
    {{ form_start(articleForm) }}

    {# permet d'afficher une row du formulaire #}
    {#    Je met mon titre en h1#}
{#    <h1 class="form_title col-4 form-control">#}
{#        {{ form_row(articleForm.title) }}#}
{#    </h1>#}


    {#    <div class="form_row">#}
    {#        {{ form_row(articleForm.content) }}#}
    {#    </div>#}
    {#    {{ form_row(articleForm.createdAt) }}#}
    {#    {{ form_row(articleForm.isPublished) }}#}
    {#    {{ form_row(articleForm.submit) }}#}

    {#    ----------------------------------------------------------------------------------------------#}
    {#    2ème façon#}
    <div class="mb-5 shadow-lg p-3 mb-5 bg-body rounded">
        {#        permet de rendre le label du 'title'#}
        {{ form_label(articleForm.title,'Titre' ,{'label_attr': {'class': 'form-label'}}) }}
        {#        permet de rendre l'input du 'title'#}
        {{ form_widget(articleForm.title, {'attr': {'class': 'form_article_input_label form-control','placeholder':'Votre Titre'}}) }}
    </div>

    <div class="mb-5 shadow-lg p-3 mb-5 bg-body rounded">
        {#    Je récupère le content de cette manière dans le twig avec une class 'form_article_content_input'#}
        {{ form_label(articleForm.content,'Contenu' , {'label_attr': {'class': 'form_article_content_input form-label'}}) }}
        {{ form_widget(articleForm.content, {'attr': {'class': 'form_article_input_label form-control','rows':'5','placeholder':'Votre contenu'}}) }}
    </div>

    <div class="mb-2">
        {{ form_label(articleForm.createdAt, 'Date de création' , {'label_attr': {'class': 'form_article_content_input'}}) }}
        {{ form_widget(articleForm.createdAt, {'attr': {'class': 'form_createdAt_input_label','placeholder':'remplissez le formulaire'}})  }}
    </div>

    <div class="mb-2">
        {{ form_label(articleForm.isPublished, 'En ligne' , {'label_attr': {'class': 'form_article_content_input form-check-label'}}) }}
        {{ form_widget(articleForm.isPublished, {'attr': {'class': 'form_isPublished_input_label form-check-input','placeholder':'remplissez le formulaire'}})  }}
    </div>

    <div class="mb-5 mt-5">
        {{ form_widget(articleForm.submit, {'attr': {'class': 'btn btn-primary col-4'}, 'label':'Envoyer'}) }}
    </div>

    {# équivalent de la balise de fermeture du form  #}
    {{ form_end(articleForm) }}
</section>


{% endblock %}

