{% extends 'base.html.twig' %}

{% block header %}
    <div class="flex">
        <a href="http://127.0.0.1:8000/articles" class="logo"><img src={{ asset('media/logo.png')}} alt="" class="resp"></a>
    </div>
{% endblock %}

    {% block main %}
        <main>
            <article>
                <h1 class="text-deco">{{ article.title }}</h1>
                <p>{{ article.content }}</p>
                <p>{{ article.createdAt | date('y-m-d') }}</p>
                <p>Article appartenant à la catégorie "{{ article.Category.title }}"</p>
                <p>Son Tag est "{{ article.Tag.title }}"</p>
            </article>
        </main>
    {% endblock main %}
